.class-one h2 {
    color: blue;
}
.class-one p {
    color: blue;
}
.class-two h2 {
    color: chartreuse;
}
.class-two p {
    color: chartreuse;
}.class-three h2 {
    color: crimson;
}
.class-three p {
    color: crimson;
}